<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Produto</title>
</head>
<body>
    <h1>produto.html</h1>
    <table style="width:50%">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Preço</th>
                <th>Estoque</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td><a href="{%url 'index'%}">{{produto.nome}}</a></td>
                    <td>{{produto.preco}}</td>
                    <td>{{produto.estoque}}</td>
                </tr>
        </tbody>
    </table>
</body>
</html>